extends layouts/_layout
block content
	

	section
		.container
			h1= message
			h1 Header 1
			h2 Header 2
			h3 Header 3
			h4 Header 4
			h5 Header 5
			h6 Header 6
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quos, cupiditate molestiae impedit dolorem numquam sit vero magnam optio id magni expedita corporis suscipit illo corrupti nulla, dolorum possimus! Minima iusto, assumenda sapiente non voluptatibus aliquam magnam velit quas explicabo dignissimos, iure dolor nisi cumque eaque illum omnis. Quisquam iusto recusandae deleniti rerum dolores voluptatem harum illo temporibus doloremque debitis hic nulla, tempore odio necessitatibus natus fugit qui commodi adipisci illum quibusdam, provident ipsa! Debitis numquam temporibus, aliquid adipisci esse odio maiores magnam mollitia ipsa dolor quaerat nostrum dolore sit delectus quis modi aspernatur ut odit autem amet similique quia?

			img(src="https://cdn.svgporn.com/logos/javascript.svg", alt="")

			ul
				li List item
				li List item
				li List item
				li List item
				li List item

